<div class="footer-container">
  <div class="site-map-container p-5">
    <h1 class="text-title mb-5">Complex made simple</h1>
    <div
      class="d-flex flex-wrap justify-content-between mt-5 gap-5 side-map-parts"
    >
      <section class="side-map-part">
        <p class="text-subtitle">Sitemap VASS</p>
        <ul class="lead">
          <ol>
            Home
          </ol>
          <ol>
            Casos éxito
          </ol>
          <ol>
            Somos VASS
          </ol>
          <ol>
            Impactos
          </ol>
          <ol>
            Método
          </ol>
          <ol>
            Tecnologías
          </ol>
          <ol>
            Proyectos I+D+i
          </ol>
          <ol>
            Insights
          </ol>
          <ol>
            Noticias
          </ol>
          <ol>
            VASS Research
          </ol>
          <ol>
            Canal de denuncias
          </ol>
          <ol>
            Contacto
          </ol>
        </ul>
      </section>
      <section class="side-map-part">
        <p class="text-subtitle">Sitemap Talento</p>
        <ul class="lead">
          <ol>
            Talento
          </ol>
          <ol>
            #LifeVASS
          </ol>
          <ol>
            Beneficios
          </ol>
          <ol>
            Planes para ti
          </ol>
          <ol>
            Proyectos
          </ol>
          <ol>
            Smartworking
          </ol>
          <ol>
            Ofertas
          </ol>
        </ul>
      </section>
      <section class="side-map-part">
        <p class="text-subtitle">Empresas</p>
        <ul class="lead">
          <ol>
            VASS
          </ol>
          <ol>
            Nateevo
          </ol>
          <ol>
            Serbatic
          </ol>
          <ol>
            vdSHOP
          </ol>
        </ul>
      </section>
    </div>
    <div class="logos-container">
      <p class="text-logo m-0">VASS</p>
      <div class="d-flex gap-4">
        <img src="assets/images/logos-footer-1.png" alt="logo-1" />
        <img src="assets/images/logos-footer-2.png" alt="logo-2" />
        <img src="assets/images/logos-footer-2.png" alt="logo-2" />
        <img src="assets/images/logos-footer-2.png" alt="logo-2" />
      </div>
    </div>
  </div>
  <div class="copyrigth-container d-flex gap-4 p-5">
    <p class="text-center lead">
      Copyrigth © 2021 Todos los derechos reservados
    </p>
    <section class="d-flex flex-wrap text-center lead">
      <p class="text-copyrigth">Memoria ambiental</p>
      <p class="text-copyrigth">Política de cookies</p>
      <p class="text-copyrigth">Politica de privacidad</p>
      <p class="text-copyrigth">Politica de calidad y medio ambiente</p>
    </section>
    <section class="d-flex justify-content-center gap-4">
      <i class="uil uil-twitter"></i>
      <i class="uil uil-linkedin"></i>
      <i class="uil uil-instagram"></i>
      <i class="uil uil-youtube"></i>
    </section>
  </div>
</div>
